[submodule "apps/core/external/googletest"]
	path = apps/core/external/googletest
	url = https://github.com/google/googletest.git
[submodule "apps/core/external/pybind11"]
	path = apps/core/external/pybind11
	url = https://github.com/pybind/pybind11.git
