# ------- Common
.git
.idea
.vscode
.DS_Store
**/.DS_Store
*.log
.env*
!.env.example
dist
build

# ------- Core (C++)
cmake-build-release
cmake-build-debug
*.so
vcpkg_installed/
out
_build
_generate

# ------- Python (Core & API)
# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class
.eggs
*.egg-info
.installed.cfg
*.egg
MANIFEST

# Virtual environments
.venv
venv/
env/
ENV/
*env*/
env.bak/
venv.bak/

# Distribution / packaging
.Python
develop-eggs/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/

# Testing and coverage
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Other Python tools
.pybuilder/
target/
.ipynb_checkpoints
profile_default/
ipython_config.py
.pdm.toml
**pypackages**/
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/
.pytype/
cython_debug/

# ------- Frontend (React/Bun)
# Dependencies
node_modules
.bun
.pnp
.pnp.js

# Build & testing
dist-ssr
coverage
*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
