[submodule "apps/core/external/vcpkg"]
	path = apps/core/external/vcpkg
  url = https://github.com/microsoft/vcpkg
[submodule "apps/core/external/mtpng"]
	path = apps/core/external/mtpng
	url = https://github.com/bvibber/mtpng
[submodule "apps/core/external/fpng"]
	path = apps/core/external/fpng
	url = https://github.com/arrowpc/fpng
