@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #fefbf9;
    --background-secondary: #fff8f4;
    --background-tertiary: #f7efe9;

    --foreground: #463a34;
    --foreground-secondary: #6c5f58;
    --foreground-muted: #8d807a;

    --border: #e7dbd3;
    --border-active: #d6bfb4;
    --border-hover: #e0cfc6;

    --primary: #bd9382;
    --primary-foreground: #ffffff;
    --primary-hover: #b18372;
    --primary-active: #a47363;

    --secondary: #f8efe8;
    --secondary-foreground: #463a34;
    --secondary-hover: #f5f5f5;
    --secondary-active: #efefef;

    --accent: #f0e0d6;
    --accent-foreground: #463a34;
    --accent-hover: #e8d2c6;

    --destructive: #d17a73;
    --destructive-foreground: #ffffff;
    --destructive-hover: #c46a63;

    --card: #ffffff;
    --card-foreground: #463a34;
    --card-hover: #f9f4f0;

    --popover: #ffffff;
    --popover-foreground: #463a34;

    --muted: #c1b5ae;
    --muted-foreground: #463a34;

    --input: #f4ece4;
    --input-focus: #f9f4f0;
    --input-disabled: #f3ebe3;

    --ring: #e7dbd3;
    --ring-focus: #d6bfb4;

    --icon-active: #463a34;
    --icon-inactive: #8d807a;
    --icon-disabled: #d8cec9;
  }

  .dark {
    --background: #292220;
    --background-secondary: #2d2725;
    --background-tertiary: #3c3330;

    --foreground: #f4ede8;
    --foreground-secondary: #e2d6ce;
    --foreground-muted: #c4b8b1;

    --border: #3c3330;
    --border-active: #5c4e4a;
    --border-hover: #4a403c;

    --primary: #d1a796;
    --primary-foreground: #fff;
    --primary-hover: #c39786;
    --primary-active: #b58776;

    --secondary: #332b29;
    --secondary-foreground: #f4ede8;
    --secondary-hover: #3c3330;
    --secondary-active: #453c39;

    --accent: #d6bfb4;
    --accent-foreground: #292220;
    --accent-hover: #c8b0a5;

    --destructive: #d17a73;
    --destructive-foreground: #ffffff;
    --destructive-hover: #c46a63;

    --card: #332b29;
    --card-foreground: #f4ede8;
    --card-hover: #3c3330;

    --popover: #332b29;
    --popover-foreground: #f4ede8;

    --muted: #8a7e77;
    --muted-foreground: #f4ede8;

    --input: #332b29;
    --input-focus: #3c3330;
    --input-disabled: #453c39;

    --ring: #3c3330;
    --ring-focus: #5c4e4a;

    --icon-active: #f4ede8;
    --icon-inactive: #c4b8b1;
    --icon-disabled: #8a7e77;
  }
}

@font-face {
  font-family: "8-bit HUD";
  src: url("@/fonts/8-bit_HUD/8-bit-hud.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-family: "8-bit HUD", sans-serif;
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    -moz-appearance: textfield;
  }
}

.disable-transitions,
.disable-transitions * {
  transition: none !important;
  animation: none !important;
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
}
